body{
	padding: 0px;
	margin: 0px;
	font-family: arial,tahoma;
}
.open-filemanager *,.open-filemanager *:after,.open-filemanager *:before{
    -moz-box-sizing: content-box;
}
.open-filemanager .panel{
	background-color: #333;
	color: #ccc;
	padding: 10px;
	border-width: 0px;
	border-radius: 0px;
	min-height: 15px;
}
.open-filemanager .panel a{
	cursor: pointer;
	font-size: 16px;
	color: inherit;
}
.open-filemanager .folder,.open-filemanager .file{
	padding: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    user-select: none;
}
.open-filemanager .folder b::before,.open-filemanager .file b::before{
    display: block;
    font-family: tahoma;
    margin-left: 20px;
    font-size: 100px;
    color: #999;
}
.open-filemanager .folder b::before{
    content:"¶";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    text-shadow: 11px 0px 0px #999, -11px 0px 0px #ccc;
}
.open-filemanager .file b::before{
    content:"∏";
    text-shadow: 15px 0px 0px #999, -15px 0px 0px #ccc;
}
.open-filemanager .folder.closed b::before{
    text-shadow: 11px 0px 0px #999, -8px 0px 0px #bbb;
}

.open-filemanager .main-folder::after{
	clear: both;
	padding: 5px;
}
.open-filemanager .main-folder div{
	display: block;
	float: left;
	width: 160px;
	height: 180px;
	padding: 5px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
}
.open-filemanager .main-folder div:hover{
    background-color: #eee;
}
.open-filemanager .main-folder div b{
    width: 160px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.open-filemanager .main-folder div img{
	max-width: 160px;
	max-height: 160px;
	display: block;
	margin: 0px auto;
}
.open-filemanager .main-folder div.selected{
	background-color: yellow;
}

.open-filemanager form {
    overflow: hidden;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
}

.open-filemanager form .upload {
    float: right;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.open-filemanager form input{
    cursor: pointer;
    position:absolute;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 30px;
}
.open-filemanager .error{
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid #fcc;
}
.open-filemanager .right{
    float: right;
}
.open-filemanager .dark{
    display: none;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    cursor: pointer;
    top: 0px;
    z-index: 10;
	overflow-y: auto;
}
.open-filemanager .dark div{
    width: 550px;
    padding: 30px;
    
    background: #ffffff;
background: -moz-linear-gradient(-45deg,  #ffffff 0%, #cccccc 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#cccccc));
background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#cccccc 100%);
background: -o-linear-gradient(-45deg,  #ffffff 0%,#cccccc 100%);
background: -ms-linear-gradient(-45deg,  #ffffff 0%,#cccccc 100%);
background: linear-gradient(135deg,  #ffffff 0%,#cccccc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc',GradientType=1 );
    border-radius: 10px;
    box-shadow: 0 0 15px #aaa;
    
    margin: 100px auto;
    font-size: 15px;
    cursor: pointer;
}
.open-filemanager h1{
    margin: 0px;
}
.open-filemanager .panel a:hover,.open-filemanager .panel form:hover a{
    color: white;
}

.open-filemanager .lazy-load,.open-filemanager .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.open-filemanager .lazy-loaded {
opacity: 1;
}
