body{
	padding: 0px;
	margin: 0px;
	font-family: arial,tahoma;
}
.open-filemanager *,.open-filemanager *:after,.open-filemanager *:before{
    -moz-box-sizing: content-box;
}
.open-filemanager .panel{
	background-color: #333;
	color: #ccc;
	padding: 10px;
	border-width: 0px;
	border-radius: 0px;
}
.open-filemanager .panel a{
	cursor: pointer;
	font-size: 16px;
	color: inherit;
}
.open-filemanager .folder{
	padding: 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
    user-select: none;
}
.open-filemanager .clear{
	clear: both;
	padding: 5px;
}
.open-filemanager .folder div{
	display: block;
	float: left;
	width: 150px;
	height: 170px;
	padding: 10px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
}
.open-filemanager .folder div:hover{
    background-color: #eee;
}
.open-filemanager .folder div b{
    width: 150px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}
.open-filemanager .folder div img{
	max-width: 150px;
	max-height: 150px;
	display: block;
	margin: 0px auto;
}
.open-filemanager .folder div.selected{
	background-color: yellow;
}

.open-filemanager form {
    overflow: hidden;
    position: relative;
    vertical-align: top;
    display: inline-block;
    margin: 0px;
}

.open-filemanager form .upload {
    float: right;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.open-filemanager form input{
    cursor: pointer;
    position:absolute;
    width:100%;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    height: 30px;
}
.open-filemanager .error{
    background-color: red;
    color: white;
    padding: 10px;
    border: 1px solid #fcc;
}
.open-filemanager .right{
    float: right;
}
.open-filemanager .dark{
    display: none;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    cursor: pointer;
    top: 0px;
}
.open-filemanager .dark div{
    width: 550px;
    padding: 30px;
    background-color: white;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    margin: 100px auto;
    font-size: 15px;
    cursor: pointer;
}
.open-filemanager h1{
    margin: 0px;
}
.open-filemanager .panel a:hover,.open-filemanager .panel form:hover a{
    color: white;
}

.open-filemanager .lazy-load,.open-filemanager .lazy-loaded {
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
}

.open-filemanager .lazy-loaded {
opacity: 1;
}
